version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aziz_bot_app
    restart: unless-stopped
    network_mode: "host"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - BOT_TOKEN=${BOT_TOKEN}
      - BOT_USERNAME=${BOT_USERNAME}
      - DATABASE_URL=${DATABASE_URL}
      - PAYME_MERCHANT_ID=${PAYME_MERCHANT_ID}
      - PAYME_KEY=${PAYME_KEY}
      - PAYME_TEST_KEY=${PAYME_TEST_KEY}
      - PAYME_ENDPOINT=${PAYME_ENDPOINT:-https://checkout.paycom.uz}
    volumes:
      - ./logs:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  postgres_data:
    driver: local